
<h4 class="text-left">
  <%=@post.title.html_safe%></h4><br/>
<img  class="img-fluid"  style="height: 250px;" src=<%=@post.mainpic%>><br/>
<h4 class="text-left">
  <%=@post.content.html_safe%></h4><br/>
   
 <br/><br/><hr/>

<%if current_user.email == @post.author%>
  <%= link_to "Редактировать пост", edit_post_path(@post)  %><br/><hr/>
<%end%>

 <%= form_for ([@post, @post.comments.build]) do |f| %>
 <%= f.hidden_field  :author,  value:  current_user.email %>

  <p2> Комментарии: </p2><br/>
    <button type="button" class="btn btn-outline-primary"><%=current_user.email%></button><br/>


      <input readonly type="text" class="alert alert-danger" name = "comment[reply]" id = "reply"/><br/>


      <t2> <%= f.text_field :text%></t2>

      <button type="submit" class="btn btn-outline-primary">Отправить</button></a><br/><br/><hr/>



 <%end%>             

<!--comments-->

<% @post.comments.reverse_each do |comment| %>
      <%if comment.text !=nil %>
        <%if current_user.email == comment.author%>

            <button type="button" class="float-right btn btn-outline-dark">Комментарий №<%=comment.id%></button><br/><br/>

            <button type="button" class="float-right btn btn-success"><%=comment.author%></button><br/><br/>



              <%if comment.reply.to_i>0%>

              <button type="button" class="float-right btn btn-secondary" data-container="body" data-toggle="popover" data-placement="left" data-content="<%=Comment.find(comment.reply.to_i).text%>">
              Ответил на комментарий № <%=comment.reply%>
            </button><br/><br/>


              <%end%>

              <button type="button" class="float-right btn btn-outline-dark"><%=comment.text%></button><br/><br/><hr/>

        <%else%>

                <button type="button" class="float-left btn btn-outline-dark">Комментарий №<%=comment.id%></button><br/><br/>

                <button   type="button" class="float-left btn btn-primary"><%=comment.author%></button><br/><br/>

                 <button class="type btn btn-dark" type="button" name="submit" id=<%=comment.id%>>ОТВЕТИТЬ</button>

                <%if comment.reply.to_i>0%>
               
                <button type="button" class="float-left btn btn-secondary" data-container="body" data-toggle="popover" data-placement="left" data-content="<%=Comment.find(comment.reply.to_i).text%>">
                Ответил на комментарий № <%=comment.reply%>
              </button><br/><br/>
                <%end%>
                <button  type="button" class="float-left btn btn-outline-dark"><%=comment.text%></button><br/><br/><hr/>

           
            <%end%>
        <%end%>
<%end%>


<script>
$(function(){
    $(".type").on("click", function(){
        var id = $(this).attr("id");
        $("#reply").val(id);
    });
});
</script>

