
<h4 class="text-left">
  <%=@post.title.html_safe%></h4><br/>
<img  class="img-fluid"  style="height: 250px;" src=<%=@post.mainpic%>><br/>
<h4 class="text-left">
  <%=@post.content.html_safe%></h4><br/>
   
 <br/><br/><hr/>


 <%= form_for ([@post, @post.comments.build]) do |f| %>
 <%= f.hidden_field  :author,  value:  current_user.email %>

<p2> Комментарии: </h2><br/>
  <button type="button" class="btn btn-outline-primary"><%=current_user.email%></button>

<t2> <%= f.text_field :text%></t2>

<button type="submit" class="btn btn-outline-primary">Отправить</button></a><br/><br/><hr/>

 <%end%>             

<!--comments-->

<% @post.comments.reverse_each do |comment| %>
      <%if comment.text !=nil %>
        <%if current_user.email == comment.author%>
            <button type="button" class="float-left btn btn-success"><%=comment.author%></button><br/><br/>
            <button type="button" class="float-left btn btn-outline-dark"><%=comment.text%></button><br/><br/><hr/>
        <%else%>
            <button type="button" class="float-right btn btn-primary"><%=comment.author%></button><br/><br/>
            <button type="button" class="float-right btn btn-outline-dark"><%=comment.text%></button><br/><br/><hr/>
            <%end%>
        <%end%>
<%end%>